body {
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	color: $white;
	line-height: 1.5rem;
}

*, *:before, *:after {
	margin:0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.btn {
	padding: 1rem 1.6rem;
	border: 0;
	background-color: rgba(#5d6942, 0.5);
	
	font-family: 'montserrat', sans-serif;
	font-size: 3rem;
	font-weight: normal;
	color: $green;
	transition: all .1s;
	cursor: pointer;
}
.btn:hover {
	background-color: rgba(#5d6942, 1);

}


