.new_menu {
	background-color: $bg-green;
	width: 100%;

	&__img {
		display: block;
		width: 100%;
	}

	&__content {
		padding-top: 3.12rem;
	}
	
	&__title {
		margin-bottom: 2.5rem;
		font-family: $dog, $mon, sans-serif;
		font-size: 4.37rem;
		line-height: 4rem;
		font-weight: normal;
		text-align: center;
	}

	&__subtitle {
		font-family: $mon, sans-serif;
		font-size: 2.81rem;
		text-transform: uppercase;
	}

	&__item {
		position: relative;
		width: 100%;
		max-width: 425px;
		margin-bottom: 3.12rem;
		padding-left: 95px;
	}
	
	&__dish {
		font-family: $dog, $mon, sans-serif;
		font-size: 1.56rem;
		font-weight: normal;
		margin-bottom: 1rem;
	}

	&__price {
		font-family: $dog, $mon, sans-serif;
		font-size: 1.25rem;
	
	}

	&__icon {
		position: absolute;
		top: 4px;
		left: 0;
	}
}